.user-main {
  padding: 20px;
}

.user-main__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.two-buttons-one {
  display: flex;
  justify-content: flex-start;
}

.one-button {
  display: flex;
  justify-content: center;
}

.user-main__row {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid #ccc;

  @media screen and (max-width: 500px) {
      grid-template-columns: 0.5fr 1fr 0.5fr;
  }
}

.user-main__header {
  font-weight: bold;
  background-color: #f5f5f5;
}

.user-main__cell {
  text-align: center;
}

.two-buttons {
  width: 95px;
}

.user-main__cell--title {
  text-align: center;
  font-weight: bold;
  width: 100%;
  min-width: 80px;
}

.user-main__button {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border: none;
}

.user-main__button:hover {
  background-color: #0056b3;
}

.user-main__count {
  font-size: 18px;
  display: inline-block;
  margin: 0 5px;
  width: 12px;
}

.user-totalSum {
  margin-top: 50px;
  font-size: 18px;
  font-family: 'PoppinsMedium', sans-serif;
  text-align: center;
}

.user-main__sold-input {
  font-family: 'PoppinsMedium', sans-serif;
  font-size: 18px;
  width: 55px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--mainColorElement);
  color: var(--mainColorText);
}

.user-main__cell--sum {
  font-size: 18px;
}