:root {
  --mainColorElement: #26448c;
  --mainColorText: #26448c;
  --secondTextColor: #fff;
  --bgColor: #f3f3f3;
  --elementColor: #26448c;
  --fontErrorColor: #f00;
  --borderColor: #ccc;
  --accentColor: #ffb20a;
}
