:root {
  --mainColorElement: #26448c;
  --mainColorText: #26448c;
  --secondTextColor: #fff;
  --bgColor: #f3f3f3;
  --elementColor: #26448c;
  --fontErrorColor: #f00;
  --borderColor: #ccc;
  --accentColor: #ffb20a;

  --buttonBgPrimary: #00345B;
  --buttonTextPrimary: #FFFFFF;
  --buttonBorderPrimary: #00345B;
  --buttonBgHover: #2D4E6A;
  --buttonBorderHover: #2D4E6A;
  --buttonBgDisabled: #E5E7EB;
  --buttonBorderDisabled: #E5E7EB;
  --buttonTextDisabled: #6B7280;
  --shadowColorPrimary: rgba(0, 52, 91, 0.15);
  --shadowColorHover: rgba(45, 78, 106, 0.15);
  --shadowColorActive: rgba(0, 52, 91, 0.1);
}
