.plan-creator {
  font-family: 'PoppinsRegular', serif;
  font-size: 21px;
  max-width: 1200px;
  margin: 0 auto;

  .plan-creator__days-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 30px 0;

    .plan-creator__day-item {
      width: 195px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      border-radius: 10px;
      border: 1px solid var(--borderColor);
      padding: 15px;
      background-color: #f9f9f9;
      transition: box-shadow 0.3s ease;

      .plan-creator__date {
        font-weight: bold;
        color: #333;
      }

      input {
        width: 85px;
        border: none;
        background: none;
        text-align: center;
        font-size: 18px;
        color: #555;
        cursor: pointer;
      }
    }
  }

  .plan-creator__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;

    .plan-creator__footer__sum {
      text-align: center;
      font-family: "PoppinsMedium", serif;
      font-size: 24px;
      color: #333;
    }

    .plan-creator__footer__save-button {
      background-color: var(--saveButtonBgPrimary) !important;
      color: var(--saveButtonTextPrimary) !important;
      font-family: 'PoppinsMedium', sans-serif !important;
      font-weight: 600 !important;
      text-transform: uppercase !important;
      letter-spacing: .5px !important;

      padding: 12px 32px !important;
      border-radius: 4px !important;
      border: 2px solid var(--saveButtonBorderPrimary) !important;

      transition: all 0.2s ease-in-out !important;
      box-shadow: none !important;

      &:hover {
        background-color: var(--saveButtonBgHover) !important;
        border-color: var(--saveButtonBorderHover) !important;
        transform: translateY(-1px);
      }

      &:disabled {
        background-color: var(--buttonBgDisabled) !important;
        border-color: var(--buttonBorderDisabled) !important;
        color: var(--buttonTextDisabled) !important;
        cursor: not-allowed !important;
        box-shadow: none !important;
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
}